.Rproj.user
.Rhistory
.RData
.Ruserdata

# omit any larger source file
data-src/

# kill obsolete files
xx-Day02.qmd
xx-D*
xx-rwb*

# dump test figures, etc
xx-figures*
aircraft_silhouettes/

## gitignore some of the exploration stuff
xx-BRA*
data/BRA*

# local draft social posts
draft-post/
